# Student Name : Arsam
# Roll # PIAIC72676

# Assignment 1

# Code for Storing Data in Dictionary

In [1]:
no_of_employees = int(input("Enter the number of employees for which you want to store data: "))
employee_data = []
for i in range(0,no_of_employees):
    print("\nEnter data for employee_" + str(i+1),end='\n\n')
    employee_data_dict = {}
    employee_data_dict["name"] = input("Enter name: ")
    employee_data_dict["age"] = int(input("Enter age: "))
    employee_data_dict["work"] = input("Enter work: ")
    employee_data_dict["skills"] = input("Enter Skills separate by , : ").split(",")
    employee_degree = {}
    employee_degree["title"] = input("Enter title of degree: ")
    employee_degree["major"] = input("Enter major of degree: ")
    employee_degree["completionDate"] = input("Enter date of completion: ")
    employee_data_dict["degree"] = employee_degree
    employee_data_dict["salary"] = int(input("Enter salary: "))
    employee_data.append(employee_data_dict)

Enter the number of employees for which you want to store data: 3

Enter data for employee_1

Enter name: Hamza Ali
Enter age: 25
Enter work: A.I
Enter Skills separate by , : Python,Tensorflow,Cloud
Enter title of degree: BS
Enter major of degree: Computer Science
Enter date of completion: June 2019
Enter salary: 259999

Enter data for employee_2

Enter name: Farooq Aziz
Enter age: 27
Enter work: Cloud Native
Enter Skills separate by , : Ubuntu,Docker,Kubernetes
Enter title of degree: MS
Enter major of degree: Software Engineer
Enter date of completion: May 2018
Enter salary: 200000

Enter data for employee_3

Enter name: Abu Bakr
Enter age: 30
Enter work: Blockchain
Enter Skills separate by , : Python,Cryptography,Ethereum
Enter title of degree: BS
Enter major of degree: Computer Science
Enter date of completion: May 2019
Enter salary: 300000

In [2]:
employee_data

[{'name': 'Hamza Ali',
  'age': 25,
  'work': 'A.I',
  'skills': ['Python', 'Tensorflow', 'Cloud'],
  'degree': {'title': 'BS',
   'major': 'Computer Science',
   'completionDate': 'June 2019'},
  'salary': 259999},
 {'name': 'Farooq Aziz',
  'age': 27,
  'work': 'Cloud Native',
  'skills': ['Ubuntu', 'Docker', 'Kubernetes'],
  'degree': {'title': 'MS',
   'major': 'Software Engineer',
   'completionDate': 'May 2018'},
  'salary': 200000},
 {'name': 'Abu Bakr',
  'age': 30,
  'work': 'Blockchain',
  'skills': ['Python', 'Cryptography', 'Ethereum'],
  'degree': {'title': 'BS',
   'major': 'Computer Science',
   'completionDate': 'May 2019'},
  'salary': 300000}]

# Assignment 2

# Print Tables

In [3]:
first_table = int(input("Enter the first table you want to print: "))
last_table = int(input("Enter the last table you want to print: "))
print('\n')
for i in range(first_table, last_table+1):
    for j in range(1, 11):
        print("{} x {} = {}".format(i,j,i*j))
    print('\n')

Enter the first table you want to print: 5
Enter the last table you want to print: 10


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60


7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70


8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90


10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [4]:
first_table = int(input("Enter the first table you want to print: "))
last_table = int(input("Enter the last table you want to print: "))
print('\n')
for j in range(1, 11):
    for i in range(first_table, last_table+1):
        print("{} x {} = {}".format(i,j,i*j), end='\t')
    print('\n')

Enter the first table you want to print: 5
Enter the last table you want to print: 10


5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9	10 x 1 = 10

5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18	10 x 2 = 20

5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27	10 x 3 = 30

5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36	10 x 4 = 40

5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45	10 x 5 = 50

5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54	10 x 6 = 60

5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63	10 x 7 = 70

5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72	10 x 8 = 80

5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81	10 x 9 = 90

5 x 10 = 50	6 x 10 = 60	7 x 10 = 70	8 x 10 = 80	9 x 10 = 90	10 x 10 = 100