# Student Name : Arsam
# Roll # PIAIC72676

# Code for List Operations

# 1. Indexing

In [1]:
employee_data = ["Ali", 125000, "Google", 5]

In [2]:
print("{pName} is working in {pCompany} for {pHours} and his salary is {pSalary}".format(pName=employee_data[0],pCompany=employee_data[2],pHours=employee_data[3],pSalary=employee_data[1]))

Ali is working in Google for 5 and his salary is 125000

In [3]:
studentData = ["Ahmad","Bilal","Goverment College University","Computer Science","BS",50000,"28 January 2020","05 February 2020"]

In [5]:
print("""Hello {pFirstName} {pSecondName},
Your Application is accepted for admission in \"{pProgram} {pSubject}\" in {pUniversity}.
You have to submit fee {pFee} before {pDueDate}.
Your classes will start from {pFirstDay}.
Thanks.""".format(pFirstName=studentData[0],pSecondName=studentData[1],pProgram=studentData[4],pSubject=studentData[3],pUniversity=studentData[2],pFee=studentData[5],pDueDate=studentData[6],pFirstDay=studentData[7]))

Hello Ahmad Bilal,
Your Application is accepted for admission in "BS Computer Science" in Goverment College University.
You have to submit fee 50000 before 28 January 2020.
Your classes will start from 05 February 2020.
Thanks.

# 2. Slicing

In [6]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

In [7]:
cities[:4]

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']

In [8]:
cities[2:6]

['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']

In [9]:
cities[5:]

['Sahiwal', 'Rawalpindi', 'Sialkot']

In [10]:
cities[-4:-1]

['Quetta', 'Sahiwal', 'Rawalpindi']

In [11]:
cities[-5:]

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# Update Lists

In [12]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [13]:
studentData.append("20 February 2019")

In [14]:
studentData.append(8)

In [15]:
studentData

['Ali Raza',
 22,
 91.24,
 'Computer Science',
 5,
 'University of Agriculture',
 '20 February 2019',
 8]

In [16]:
studentData.insert(4, 25000)

In [17]:
studentData

['Ali Raza',
 22,
 91.24,
 'Computer Science',
 25000,
 5,
 'University of Agriculture',
 '20 February 2019',
 8]

In [18]:
studentData.insert(1,"M. Iqbal")

In [19]:
studentData

['Ali Raza',
 'M. Iqbal',
 22,
 91.24,
 'Computer Science',
 25000,
 5,
 'University of Agriculture',
 '20 February 2019',
 8]

In [20]:
studentData[0] = "Zohaib Ali"
studentData[6] = 7

In [21]:
studentData

['Zohaib Ali',
 'M. Iqbal',
 22,
 91.24,
 'Computer Science',
 25000,
 7,
 'University of Agriculture',
 '20 February 2019',
 8]

In [22]:
studentData.remove("Computer Science")
studentData.remove(91.24)

In [23]:
studentData

['Zohaib Ali',
 'M. Iqbal',
 22,
 25000,
 7,
 'University of Agriculture',
 '20 February 2019',
 8]

In [24]:
a = studentData.pop(-1)
b = studentData.pop(3)

In [25]:
studentData

['Zohaib Ali',
 'M. Iqbal',
 22,
 7,
 'University of Agriculture',
 '20 February 2019']

# 4. Multidimensional List Tasks

In [26]:
employeeData = [["Ali",35000,"Software Engineer"],
                ["Talha",55000,"Product Manager"],
                ["Nasir",79000,"Computer Engineer"],
                ["Khalid",44000,"DBA"]]

In [29]:
tot_salary = 0
for emp in employeeData:
    if emp[1] > 50000:
        print(emp[0])
    tot_salary += emp[1]
print("Total Salary is ",tot_salary)

Talha
Nasir
Total Salary is  213000

In [30]:
employeeData[2][1] = 90000
employeeData[2][2]= "Product Manager"
employeeData[3][1] = 50000

In [31]:
employeeData

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Product Manager'],
 ['Khalid', 50000, 'DBA']]

# 5. Login User

In [32]:
username = "faizan1214"
password = "qwerty"
emailVerified = False

In [34]:
if username == "faizan1214" and password == "qwerty" and emailVerified == True:
    print("Login Succeed")
else:
    print("Email not verified")

Email not verified

In [35]:
username = "faizan1214"
password = "qwerty"
emailVerified = True

In [36]:
if username == "faizan1214" and password == "qwerty" and emailVerified == True:
    print("Login Succeed")
else:
    print("Email not verified")

Login Succeed